// Theme colors
.theme {
  // for purple
  &--purple {
    // Angles dots
    .angles {
      path {
        fill: $purple;
      }
    }
    // And angles dots

    // Flowers bg
    .flower-bg {
      path {
        fill: $purple;
      }
    }
    // End flowers bg

    // Waves
    .middle-wave, .bottom-wave--color {
      svg {
        path {
          fill: #FCFBFF;
        }
      }
    }
    // End waves

    // Free consultation
    .free-consultation:before {
      background: #FCFBFF;
    }

    .free-consultation__bg {
      path {
        fill: $purple;
        opacity: .1;
      }
    }
    
    .color-bg {
      background: #FCFBFF;
    }

    .before-bg {
      &:before {
        background: $purple;
      }
    }

    .hover-color {
      &:hover, &:active, &:focus {
        color: $purple;
      }
    }

    .hover-bg {
      &:hover {
        background: $purple;
      }
    }

    .swiper-button-prev, .swiper-button-next {
      svg {
        path {
          fill: $purple;
        }
      }

      &:hover {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }

    .input-border {
      @include cubic-first;
      border: 1px solid rgba($purple, .25);

      &:hover, &:focus, &:active {
        border-color: $purple;
      }
    }

    .button-gradient {
      background: linear-gradient(180deg, #5B4696 0%, #9582CC 100%);
    }

    .bg {
      background: $purple;
    }

    .button-hover-gradient {
      background: linear-gradient(180deg, #3C2E65 0%, #635194 100%);
    }

    .line-border {
      border-color: rgba($purple, .3);
    }

    .border-out {
      &:before, &:after {
        border-color: rgba($purple, .3);
      }

      &--before {
        &:after {
          display: none;
        }
      }
    }

    .card__info {
      li:before {
        background: 50% 50%/contain no-repeat url('/assets/images/svg/dot.svg');
      }
    }

    .process-modules__item {
      li:before {
        background: 50% 50%/contain no-repeat url('/assets/images/svg/dot.svg');
      }
    }

    .section-title__count-image {
      svg stop {
        stop-color: $purple;
      }
    }

    .for-who__item-image-bg, .about-item__bg--dots {
      svg circle {
        fill: $purple;
      }
    }

    .color {
      color: $purple;
    }

    .section-title__count-val {
      background: linear-gradient(180deg, rgba(91, 70, 150, 0.2) 0%, rgba(91, 70, 150, 0) 94.27%, rgba(91, 70, 150, 0) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .process-modules__title {
      background: #FCFBFF;
    }

    .process__modules {
      border-color: rgba($purple, .3);
    }

    .process-modules__item {
      border-color: rgba($purple, .3);;
    }

    .circle-item {
      background: $purple;

      &:before, &:after {
        background: $purple;
      }
    }

    .path, .reviews {
      background: rgba($purple, .03);
    }

    .tab.active {
      background: rgba($purple, .3);
    }

    .gallery-hover {
      background: rgba($purple, .7);
    }

    .modal__close {
      background: #F7F7F7;
    }
  }
}
// End theme colors

@import "../modules/theme-colors/admin";
@import "../modules/theme-colors/eyebrow";
@import "../modules/theme-colors/lish";
@import "../modules/theme-colors/man";
@import "../modules/theme-colors/hair";
@import "../modules/theme-colors/manager";
@import "../modules/theme-colors/marketing";