// Fonts
$RobotoFont: 'Roboto', 'sans-serif';
$RubikFont: 'Rubik', 'sans-serif';

// Colors
$white: #ffffff;
$black: #000000;
$navColor: #707070;
$dark: #282828;
$purple: #5B4696;
$gray: #787584;
//inputs
$inputsBg: #F7F7F7;
$inputsRadius: 60px;