@import "~lightgallery.js/src/sass/lightgallery";

// Message gallery
.msg-gallery {
  &--gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 30px;
  }
  
  &__img-wr {
    position: relative;
  }

  &__img {
    width: 100%;

    &--photo {
      border-radius: 0 60px;
    }

    &--gallery {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__video-play {
    @include cubic-first;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 40%;
    }
  }

  &__link {
    text-decoration: none;
    position: relative;

    &--gallery {
      padding-top: 75%;
    }

    .gallery-hover {
      @include cubic-first();
      opacity: 0;
    }

    &:hover {
      .gallery-hover {
        opacity: 1;
      }

      .msg-gallery__video-play {
        opacity: 0;
      }
    }
  }
}
// End massage gallery

.gallery-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 40%;
  }

  &--photo {
    border-radius: 0 60px;
  }
}