- var aboutItems = [{'right': false, 'title': 'Как проводить процедуры по уходу за лицом и телом', 'text': 'Проводить процедуры по уходу за лицом разных типов кожи. Проводить процедуры по уходу за лицом разных типов кожи'}, {'right': true, 'title': 'Как освоить аппаратную косметологию', 'text': 'Особенности аппаратного воздействия (работа с пятифункциональным комбайном, практическое применение микротокового аппарата, светотерапия, ультразвуковое воздействие, R-F терапия)'},{'right': false, 'title': 'Как выполнять массажи лица, входящие в базовый курс', 'text': 'Делать разные виды массажа лица: классический, по Жаке, пластический, испанский, лифтинговый и др.'},{'right': true, 'title': 'Как освоить химические пилинги', 'text': 'Как правильно проводить косметологическую чистку лица: механическое очищение брашингом, мануальная ручная чистка, скрабы, гоммажы и другими средствами, ультразвуковая методика.'},]

section.about#about

    // Flowers
    .flower-bg.about__flower-1
        include ../../assets/images/svg/about-bg/flower-1.svg
    .flower-bg.about__flower-2
        include ../../assets/images/svg/about-bg/flower-2.svg
    .flower-bg.about__flower-3
        include ../../assets/images/svg/about-bg/flower-3.svg
    .flower-bg.about__flower-4
        include ../../assets/images/svg/about-bg/flower-4.svg

    // Container
    .container.about__container
        +sectionTitle('02', 'На курсе, вы узнаете')

        // Items
        .about__items
            each val in aboutItems
                article(class="about__item about-item card-shadow " + (val['right'] ? 'about__item--right about-item--right' : ''))
                    .about-item__bg--dots
                    .about-item__in
                        // Icon
                        .about-item__icon-wr.circle-item.circle-item--about
                            img.about-item__icon.lazy(data-src="/assets/images/about/face-icon.svg", alt="face icon")
                        // End icon

                        // Content
                        .about-item__content
                            h3.card-title Как проводить процедуры по уходу за лицом и телом
                            p.about-item__text Проводить процедуры по уходу за лицом разных типов кожи. Проводить процедуры по уходу за лицом разных типов кожи
                        // End content
        // End items
    // End container