footer.footer.bg
    .container.footer__container
        // Logo and content
        .footer__logo-content
            a.logo.footer__logo(href="#header")
                img.logo__img.lazy(data-src="/assets/images/omg-logo.png", alt="Omg logo")
            span.footer__content Обучающий курс: Косметолог в Киеве без медицинского образования
        // End logo and content

        // Copyright
        .footer__copyright All Rights Reserved - ©2020 | OMG  University
        // End copyright