- var forWhoItems = [{'number': '01', 'text': 'Хочет наиболее полно освоить все направления эстетической косметологии'}, {'number': '02', 'text': 'Хочет успешно использовать на практике свои знания (курс полностью практический)'}, {'number': '03', 'text': 'Планирует построить успешную карьеру в индустрии красоты'}, {'number': '04', 'text': 'Мечтает работать в лучших салонах красоты, либо открыть свой бизнес'}, {'number': '05', 'text': 'Хочет зарабатывать хорошие деньги, занимаясь любимым делом'}, ]

section.for-who.color-bg#forWho

    // Angles
    .angles.angles--top-right
        include ../../assets/images/svg/dots-top-right.svg
    .angles.angles--bottom-left
        include ../../assets/images/svg/dots-bottom-left.svg
    // End angles

    // Flowers
    .flower-bg.for-who__flower-1
        include ../../assets/images/svg/for-who-bg/flower-1.svg
    .flower-bg.for-who__flower-2
        include ../../assets/images/svg/for-who-bg/flower-2.svg

    .bottom-wave
        include ../../assets/images/svg/bottom-white-wave.svg

    // Container
    .container.for-who__container
        // Title
        +sectionTitle('01', 'Курс для тех, кто')

        .for-who__content
            // Image side
            .for-who__image-side
                .figure-image.border-out.for-who__image
                    img.figure-image__img.lazy(data-src="/assets/images/for-who/face-spa.jpg", alt="Alt image")
            // End image side

            // List side
            .for-who__list-side
                ul.for-who__list
                    each val in forWhoItems
                        li.for-who__item
                            .for-who__item-content
                                .for-who__item-image-bg
                                .for-who__item-bg
                                p= val['text']
                            .for-who__item-number= val['number']
            // End list side
    // End container