- var navigation = [{'title': 'Для кого', 'toId': 'forWho'}, {'title': 'О чем курс', 'toId': 'about'}, {'title': 'Процесс обучения', 'toId': 'process'}, {'title': 'Результаты обучения', 'toId': 'result'}, {'title': 'Отзывы', 'toId': 'reviews'},{'title': 'Галерея', 'toId': 'gallery'}, {'title': 'Гарантии', 'toId': 'guarantees'}, {'title': 'Цены и пакеты', 'toId': 'pricing'}]

header.header
    // Navbar
    .header__navbar#navbar
        // Navbar container
        .container.header__navbar-container
            // Logo
            .header__logo
                a.logo(href="/")
                    img.logo__img(src="/assets/images/omg-logo.png", alt="Omg logo")
            // End logo

            // Navigation
            .header__navigation
                nav.navigation
                    ul.navigation__list
                        each val in navigation
                            li.navigation__item.before-bg
                                a.navigation__link.hover-color(href=`#${val.toId}`)= val.title
            // End navigation

            // Hamburger menu
            .header__hamburger.hamburger
                input#hamburger.hamburger__check(type="checkbox")
                .hamburger__lines
                    span.hamburger__line.hamburger__line--first.bg
                    span.hamburger__line.hamburger__line--second.bg
                    span.hamburger__line.hamburger__line--third.bg
            // End hamburger menu
        // End navbar container
    // End navbar

    // Content
    .header__content
        // Content container
        .header__content-container.container
            // Heading
            .header__heading
                h2.header__up-title.up-title Обучающий курс:
                h1.header__title.head-title Косметолог в Киеве без медицинского образования
                h3.header__subtitle.head-subtitle Курсы косметологии разработаны как для людей без медицинского образования так и для медиков разной категории.
            // End heading

            // Form
            form.header__form(action="/", method="post")
                // Input item
                .input-group.header__input
                    input.input-group__input.input-border#headerName(type="text", placeholder="Ваше имя")
                    label.input-group__label(for="headerName") Ваше имя
                // End input item

                // Input item
                .input-group.header__input
                    input.input-group__input.input-group__input--phone.input-border#headerPhone(type="text", placeholder="Ваш телефон", inputmode="tell")
                    label.input-group__label(for="headerPhone") Ваш телефон
                // End input item

                // Button
                button.button.header__button(type="submit")
                    .button__shadow.bg
                    .button__bottom-bg.button-gradient
                    .button__bottom-bg.button__bottom-bg--hover.button-hover-gradient
                    .button__content Заказать звонок
                // End button
            // End form

            // Header teacher
            .header__teacher
                // Box
                .border-out.card.header__card
                    // Image
                    .card__image.figure-image
                        img.figure-image__img(src="/assets/images/header/teacher.jpg", alt="Teacher photo")
                    // End image

                    // Content
                    .card__content
                        .card__heading.line-border
                            h4.card__subtitle Врач-Косметолог
                            h3.card__title ТАТЬЯНА ШИШЛАКОВА
                        .card__info
                            ul
                                li <b>2011 г.</b> – курсы косметологии и мезотерапии, г. Киев;
                                li <b>2012 г.</b> – интернатура по специальности «Дерматовенерология».
                                li <b>2015 г.</b> – теоретический курс «Контурная пластика с применением внутридермальных имплантатов Repleri компании СА-Клиник»;
                                li <b>2011 г.</b> – международная конференция «Региональные подходы к оптимизации дерматовенерологической помощи в Украине».
                    // End content
                // End box
            // End header teacher
        // End content container
    // End content

    // Scroll block
    .header__scroll.scroll.bg
        a.scroll__link.bg.before-bg(href="#")
            .scroll__link-figure
    // End scroll block

    // Mobile menu
    #mobile-menu.mobile-menu
        .container.mobile-menu__container
            // Mobile navigation
            nav.navigation
                ul.navigation__list.navigation__list--mobile-nav
                    each val in navigation
                        li.navigation__item.navigation__item--mobile-nav.before-bg
                            a.navigation__link.navigation__link--mobile-nav.hover-color(href=`#${val.toId}`)= val.title
            // End mobile navigation

            // Button
            button.button.mobile-menu__button(type="submit")
                .button__shadow.bg
                .button__bottom-bg.button-gradient
                .button__bottom-bg.button__bottom-bg--hover.button-hover-gradient
                .button__content Заказать звонок
            // End button
    // End mobile menu