.modal-wr#modal
    // Modal
    .modal
        h2.modal__title.color Записаться на курс
        form.modal__form(action="/", method="post")
            // Input item
            .input-group.header__input
                input.input-group__input.input-border#modalName(type="text", placeholder="Ваше имя")
                label.input-group__label(for="modalName") Ваше имя
            // End input item

            // Input item
            .input-group.header__input
                input.input-group__input.input-group__input--phone.input-border#modalPhone(type="text", placeholder="Ваш телефон", inputmode="tell")
                label.input-group__label(for="modalPhone") Ваш телефон
            // End input item

            // Button
            button.button.header__button(type="submit")
                .button__shadow.bg
                .button__bottom-bg.button-gradient
                .button__bottom-bg.button__bottom-bg--hover.button-hover-gradient
                .button__content Заказать звонок
            // End button
        button.modal__close.hover-bg#closeModal
            include ../../assets/images/svg/close.svg
    // End modal