- var resultItems = [{'img': 1, 'text': 'Вы получите основные навыки эффективных классических и аппаратных методик косметологии по телу и лицу'}, {'img': 2, 'text': 'Вы освоите одну из лучших и высокооплачиваемых профессий косметолога'}, {'img': 3, 'text': 'Гарантии. Выпускники курсов косметолога OMG востребованы и трудоустраиваются в лучшие салоны и клиники'}, {'img': 4, 'text': 'Все приобретенные знания и навыки будут отработаны и закреплены на практике'}, {'img': 5, 'text': 'Вы получите основные навыки эффективных классических и аппаратных методик косметологии по телу и лицу'}, {'img': 6, 'text': 'Вы освоите одну из лучших и высокооплачиваемых профессий косметолога'}]

section.result#result
    .container
        +sectionTitle('04', 'Результаты обучения')

        .result__items
            each val in resultItems
                article.result__item.border-out.border-out--top-left-radius.border-out--before.result-item
                    .result-item__in
                        .result-item__icon-wr
                            +icon(`result-icon-${val['img']}`)
                        p.result-item__text= val['text']