section.reviews#reviews

    // Angles
    .angles.angles--bottom-left
        include ../../assets/images/svg/dots-bottom-left.svg
    // End angles

    // Flowers
    .flower-bg.reviews__flower-1
        include ../../assets/images/reviews/flower-1.svg
    .flower-bg.reviews__flower-2
        include ../../assets/images/reviews/flower-2.svg

    .bottom-wave
        include ../../assets/images/reviews/bottom-wave.svg

    .container
        +sectionTitle('05', 'Отзывы')

        .tab-container#reviewsTabs
            .tabs
                a.tab.active Сообщения
                a.tab Фото
                a.tab Видео
            .tab-panes
                .tab-pane.active
                    // Messages slider
                    .msg-gallery.swiper-container#reviewsMessageGallery
                        .swiper-wrapper
                            each val in [1, 2, 3, 4, 5, 6, 7, 8]
                                a.msg-gallery__link.swiper-slide(href="/assets/images/reviews/messages/item-1.jpg")
                                    img.msg-gallery__img(src="/assets/images/reviews/messages/item-1.jpg" ,alt="message alt")
                                    .gallery-hover
                                        +icon('view-image')
                    .swiper-buttons
                        .swiper-button-prev.hover-bg#reviewsMessageGallery-prev
                            include ../../assets/images/svg/arrow-left.svg
                        .swiper-button-next.hover-bg#reviewsMessageGallery-next
                            include ../../assets/images/svg/arrow-right.svg
                    // End messages slider
                .tab-pane
                    // Photo slider
                    .msg-gallery.swiper-container#reviewsPhotoGallery
                        .swiper-wrapper
                            each val in [1, 2, 3, 4, 5, 6, 7, 8]
                                a.msg-gallery__link.swiper-slide.msg-gallery__link--photo1.border-out.border-out--before(href="/assets/images/photo-gallery/photo-1.jpg")
                                    img.msg-gallery__img.msg-gallery__img--photo(src="/assets/images/photo-gallery/photo-1.jpg" ,alt="message alt")
                                    .gallery-hover.gallery-hover--photo
                                        +icon('view-image')
                    .swiper-buttons
                        .swiper-button-prev.hover-bg#reviewsPhotoGallery-prev
                            include ../../assets/images/svg/arrow-left.svg
                        .swiper-button-next.hover-bg#reviewsPhotoGallery-next
                            include ../../assets/images/svg/arrow-right.svg
                    // End photo slider
                .tab-pane
                    // Video slider
                    .msg-gallery.swiper-container#reviewsVideoGallery
                        .swiper-wrapper
                            each val in [1, 2, 3, 4, 5, 6, 7, 8]
                                a.msg-gallery__link.swiper-slide.msg-gallery__link--video1.border-out.border-out--before.card.card--no-shadow(href="https://www.youtube.com/embed/ea5uxRmRe8Y", data-src="https://www.youtube.com/embed/ea5uxRmRe8Y")
                                    .msg-gallery__img-wr
                                        img.msg-gallery__img.msg-gallery__img--photo(src="/assets/images/photo-gallery/photo-1.jpg" ,alt="message alt")
                                        .gallery-hover.gallery-hover--photo
                                            +icon('play')
                                        .msg-gallery__video-play
                                            +icon('play-pre')
                                    .card__content
                                        h4.card__subtitle 21.03.2020
                                        h3.card__title Прохорова Дарья
                    .swiper-buttons
                        .swiper-button-prev.hover-bg#reviewsVideoGallery-prev
                            include ../../assets/images/svg/arrow-left.svg
                        .swiper-button-next.hover-bg#reviewsVideoGallery-next
                            include ../../assets/images/svg/arrow-right.svg
                    // End video slider