.for-who {
  &__content {
    margin-top: 80px;
  }

  &__image-side {
    flex-basis: 100%;
    padding-right: 0;
  }

  &__image {
    width: 300px;
    margin: auto;
  }

  &__list-side {
    flex-basis: 100%;
    margin-top: 50px;
  }
}