.guarantees {
  // Flowers
  &__flower {
    &-1 {
      top: 100px;
      right: 0;
      width: 90px;
    }

    &-2 {
      width: 80px;
    }
  }
}

// Item
.guarantees-item {
  &__slider {
    width: calc(100% - 50px);
  }
}
// End item