// Card
.card {
  &__title {
    font-size: 17px;
    line-height: 24px;
  }
}
// End Card

// Figure border
.border-out {
  &:before {
    top: -5px;
    left: -5px;
    border-radius: 0 70px;
  }

  &:after {
    top: 5px;
    left: 5px;
    border-radius: 0 70px;
  }

  &--top-left-radius {
    &:before, &:after {
      border-radius: 150px 150px 0 60px;
    }
  }
}
// End figure border