mixin icon(name)
    svg(class="icon--" + name)
        use(xlink:href="/assets/images/svg/sprite.svg#" + name)

// Section title
mixin sectionTitle(number, text)
    .section-title
        .section-title__count
            span.section-title__count-val.color= number
            .section-title__count-image
        h2.section-title__text.color= text