html {
  font-family: $RobotoFont;
  font-size: 16px;
  color: $dark;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5 {
  font-family: $RubikFont;
  margin: 0;
}

section {
  position: relative;
  padding: 80px 0 150px;
}

main {
  overflow: hidden;
}

p {
  line-height: 24px;
  color: $gray;
  margin: 0;
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

// Theme colors
.theme {
  // for purple
  &--purple {
    .before-bg {
      &:before {
        background: $purple;
      }
    }

    .hover-color {
      &:hover, &:active, &:focus {
        color: $purple;
      }
    }

    .hover-bg {
      &:hover {
        background: $purple;
      }
    }

    .swiper-button-prev, .swiper-button-next {
      svg {
        path {
          fill: $purple;
        }
      }

      &:hover {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }

    .input-border {
      @include cubic-first;
      border: 1px solid rgba($purple, .25);

      &:hover, &:focus, &:active {
        border-color: $purple;
      }
    }

    .button-gradient {
      background: linear-gradient(180deg, #5B4696 0%, #9582CC 100%);
    }

    .bg {
      background: $purple;
    }

    .button-hover-gradient {
      background: linear-gradient(180deg, #3C2E65 0%, #635194 100%);
    }

    .line-border {
      border-color: rgba($purple, .3);
    }

    .border-out {
      &:before, &:after {
        border-color: rgba($purple, .3);
      }

      &--before {
        &:after {
          display: none;
        }
      }
    }

    .card__info {
      li:before {
        background: 50% 50%/contain no-repeat url('/assets/images/svg/dot.svg');
      }
    }

    .process-modules__item {
      li:before {
        background: 50% 50%/contain no-repeat url('/assets/images/svg/dot.svg');
      }
    }

    .header {
      background: 50% 50%/cover no-repeat url("/assets/images/header/bg.svg");
    }

    .section-title__count-image {
      background: 50% 50%/contain no-repeat url('/assets/images/section-title-image.png');
    }

    .color {
      color: $purple;
    }

    .section-title__count-val {
      background: linear-gradient(180deg, rgba(91, 70, 150, 0.2) 0%, rgba(91, 70, 150, 0) 94.27%, rgba(91, 70, 150, 0) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .for-who__item-number {
      background: 50% 50%/contain no-repeat url("/assets/images/for-who/list.jpg");
    }

    .for-who__item-image-bg {
      background: 100% 100%/contain no-repeat url("/assets/images/for-who/item-dots.png");
    }

    .for-who {
      background: 0% 0%/100% no-repeat url("/assets/images/for-who/bg.jpg");
    }

    .about-item__icon-wr, .result-item__icon-wr {
      background: 50% 50%/100% no-repeat url("/assets/images/about/item-bg.svg");
    }

    .about-item__bg--dots {
      background: 100% 100%/100% no-repeat url("/assets/images/about/dots-bg.svg");
    }

    .about {
      background: 0% 0%/100% no-repeat url("/assets/images/about/section-bg.png");
    }

    .free-consultation__bg {
      background: 50% 50%/cover no-repeat url("/assets/images/free-consultation/bg.png");
    }

    .process-modules__title {
      background: #FCFBFF;
    }

    .process__modules {
      border-color: rgba($purple, .3);
    }

    .process-modules__item {
      border-color: rgba($purple, .3);;
    }

    .process {
      background: 0% 0%/cover no-repeat url("/assets/images/process/section-bg.png");
    }

    .result {
      background: 0% 0%/cover no-repeat url("/assets/images/result/section-bg.png");
    }

    .circle-item {
      background: $purple;

      &:before, &:after {
        background: $purple;
      }
    }

    .path, .reviews {
      background: rgba($purple, .03);
    }

    .tab.active {
      background: rgba($purple, .3);
    }

    .gallery-hover {
      background: rgba($purple, .7);
    }
  }
}
// End theme colors

.bottom-wave {
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-end;
  bottom: 0;

  svg {
    height: 100%;
    width: 100%;
  }
}

// Titles
.head-title {
  color: $purple;
  font-weight: 500;
  font-size: 41px;
  line-height: 52px;
}

.up-title {
  color: $dark;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.head-subtitle {
  color: $gray;
  font-size: 18px;
  line-height: 27px;
  font-family: $RobotoFont;
  font-weight: 400;
}

.section-title {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 30px;

  &__count {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &-val {
      font-size: 75px;
      font-family: $RubikFont;
      font-weight: 500;
    }

    &-image {
      position: absolute;
      left: 50%;
      top: -40px;
      transform: translateX(-50%);
      width: 160px;
      height: 160px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 45px;
    padding-top: 40px;
  }
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  &--pricing {
    font-size: 35px;
    line-height: 52px;
    text-align: center;
  }
}

.form-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 52px;
}
// End titles

// Inputs
.input-group {
  position: relative;

  &__label {
    @include cubic-first;
    position: absolute;
    left: 32px;
    top: 7px;
    font-size: 9px;
    font-family: $RubikFont;
    color: $gray;
    opacity: 0;
    visibility: hidden;
  }

  &__input {
    background: $inputsBg;
    border-radius: $inputsRadius;
    border-top-right-radius: 0px;
    outline: none;
    padding: 20px 32px;
    color: $dark;
    font-size: 17px;
    font-family: $RubikFont;
    width: calc(100% - 66px);

    &:focus {
      & + .input-group__label {
        opacity: 1;
        visibility: visible;
      }
    }

    @include placeholder {
      color: $gray;
      font-size: 17px;
      font-family: $RubikFont;
    }
  }
}
// End inputs

// Buttons
.button {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  padding: 3px;

  &__shadow {
    position: absolute;
    @include cubic-first;
    left: 8px;
    top: 8px;
    width: calc(100% - 14px);
    height: calc(100% - 4px);
    opacity: .7;
    filter: blur(14px);
  }

  &__bottom-bg {
    position: absolute;
    border-radius: $inputsRadius;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: z('bg');

    &--hover {
      @include cubic-first;
      opacity: 0;
    }
  }

  &__content {
    position: relative;
    padding: 18px 42px;
    z-index: z('content');
    font-family: $RubikFont;
    font-weight: 500;
    font-size: 18px;
    color: $white;
    background: linear-gradient(180deg, rgba($white, 0) 0%, rgba($white, 0.08) 100%);
    border-radius: $inputsRadius;
  }

  &:hover {
    cursor: pointer;

    .button__bottom-bg--hover {
      opacity: 1;
    }

    .button__shadow {
      opacity: 1;
    }
  }
}
// End buttons

.container {
  z-index: z('content');
}