$thCl: #DD366F;

.theme {
  // For admin
  &--admin {
    // Angles dots
    .angles {
      path {
        fill: $thCl;
      }
    }
    // And angles dots

    // Flowers bg
    .flower-bg {
      path {
        fill: $thCl;
      }
    }
    // End flowers bg

    // Waves
    .middle-wave {
      svg {
        path {
          fill: #fef9fb;
        }
      }
    }
    // End waves

    // Free consultation
    .free-consultation:before {
      background: #fef9fb;
    }

    .free-consultation__bg {
      path {
        fill: $thCl;
        opacity: .1;
      }
    }

    .color-bg {
      background: #fef9fb;
    }

    .before-bg {
      &:before {
        background: $thCl;
      }
    }

    .hover-color {
      &:hover, &:active, &:focus {
        color: $thCl;
      }
    }

    .hover-bg {
      &:hover {
        background: $thCl;
      }
    }

    .swiper-button-prev, .swiper-button-next {
      svg {
        path {
          fill: $thCl;
        }
      }

      &:hover {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }

    .input-border {
      @include cubic-first;
      border: 1px solid rgba($thCl, .25);

      &:hover, &:focus, &:active {
        border-color: $thCl;
      }
    }

    .button-gradient {
      background: linear-gradient(180deg, #DD366F 0%, #EF5D8F 100%);
    }

    .bg {
      background: $thCl;
    }

    .button-hover-gradient {
      background: linear-gradient(180deg, #DD366F 0%, #EF5D8F 100%);
    }

    .line-border {
      border-color: rgba($thCl, .3);
    }

    .border-out {
      &:before, &:after {
        border-color: rgba($thCl, .3);
      }

      &--before {
        &:after {
          display: none;
        }
      }
    }

    .card__info {
      li:before {
        background: 50% 50%/contain no-repeat url('/assets/images/svg/dot-admin.svg');
      }
    }

    .process-modules__item {
      li:before {
        background: 50% 50%/contain no-repeat url('/assets/images/svg/dot-admin.svg');
      }
    }

    .section-title__count-image {
      background: 50% 50%/contain no-repeat url('/assets/images/svg/title-dots-admin.svg');
    }

    .color {
      color: $thCl;
    }

    .section-title__count-val {
      background: linear-gradient(180deg, rgba(91, 70, 150, 0.2) 0%, rgba(91, 70, 150, 0) 94.27%, rgba(91, 70, 150, 0) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .for-who__item-number {
      background: 50% 50%/contain no-repeat url("/assets/images/svg/big-dot-admin.svg");
    }

    .for-who__item-image-bg {
      background: 100% 100%/contain no-repeat url("/assets/images/for-who/item-dots.png");
    }

    .about-item__bg--dots {
      background: 100% 100%/100% no-repeat url("/assets/images/svg/dots-bg-admin.svg");
    }

    .process-modules__title {
      background: #fef9fb;
    }

    .path__top-wave path{
      fill: #DD366F;
    }

    .process__modules {
      border-color: rgba($thCl, .3);
    }

    .process-modules__item {
      border-color: rgba($thCl, .3);;
    }

    .circle-item {
      background: $thCl;

      &:before, &:after {
        background: $thCl;
      }
    }

    .path, .reviews {
      background: rgba($thCl, .03);
    }

    .tab.active {
      background: rgba($thCl, .3);
    }

    .gallery-hover {
      background: rgba($thCl, .7);
    }

    .modal__close {
      background: #F7F7F7;
    }
  }
  // End for admin
}