$thCl: #D74D63;
$lhThC: #FDF9FA;

.theme {
  // For eyebrow
  &--hair {
    // Angles dots
    .angles {
      path {
        fill: $thCl;
      }
    }
    // And angles dots

    // Flowers bg
    .flower-bg {
      path {
        fill: $thCl;
      }
    }
    // End flowers bg


    // Free consultation

    .free-consultation__bg {
      path {
        fill: $thCl;
        opacity: .1;
      }
    }

    .color-bg {
      background: $lhThC;
    }

    // Waves
    .middle-wave, .bottom-wave--color {
      svg {
        path {
          fill: $lhThC;
        }
      }
    }
    // End waves

    .free-consultation:before {
      background: $lhThC;
    }

    .path__top-wave path{
      fill: $thCl;
    }

    .before-bg {
      &:before {
        background: $thCl;
      }
    }

    .hover-color {
      &:hover, &:active, &:focus {
        color: $thCl;
      }
    }

    .hover-bg {
      &:hover {
        background: $thCl;
      }
    }

    .swiper-button-prev, .swiper-button-next {
      svg {
        path {
          fill: $thCl;
        }
      }

      &:hover {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }

    .input-border {
      @include cubic-first;
      border: 1px solid rgba($thCl, .25);

      &:hover, &:focus, &:active {
        border-color: $thCl;
      }
    }

    .button-gradient {
      background: linear-gradient(180deg, #D74D63 0%, #F59597 100%);
    }

    .bg {
      background: $thCl;
    }

    .button-hover-gradient {
      background: linear-gradient(180deg, #D74D63 0%, #F59597 100%);
    }

    .line-border {
      border-color: rgba($thCl, .3);
    }

    .border-out {
      &:before, &:after {
        border-color: rgba($thCl, .3);
      }

      &--before {
        &:after {
          display: none;
        }
      }
    }

    .card__info {
      li:before {
        background: 50% 50%/contain no-repeat url('/assets/images/svg/dot-hair.svg');
      }
    }

    .process-modules__item {
      li:before {
        background: 50% 50%/contain no-repeat url('/assets/images/svg/dot-hair.svg');
      }
    }

    .section-title__count-image {
      svg stop {
        stop-color: $thCl;
      }
    }

    .color {
      color: $thCl;
    }

    .for-who__item-image-bg, .about-item__bg--dots {
      svg circle {
        fill: $thCl;
      }
    }

    .section-title__count-val {
      background: linear-gradient(180deg, rgba(91, 70, 150, 0.2) 0%, rgba(91, 70, 150, 0) 94.27%, rgba(91, 70, 150, 0) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .process-modules__title {
      background: $lhThC;
    }

    .process__modules {
      border-color: rgba($thCl, .3);
    }

    .process-modules__item {
      border-color: rgba($thCl, .3);;
    }

    .circle-item {
      background: $thCl;

      &:before, &:after {
        background: $thCl;
      }
    }

    .path, .reviews {
      background: rgba($thCl, .03);
    }

    .tab.active {
      background: rgba($thCl, .3);
    }

    .gallery-hover {
      background: rgba($thCl, .7);
    }

    .modal__close {
      background: #F7F7F7;
    }
  }
  // End for admin
}