.circle-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &:before,  &:after {
    @include pseudo;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
  }

  &:before {
    left: -30px;
    top: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    opacity: 0.3;
  }

  &:after {
    left: -15px;
    top: -15px;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    opacity: .6;
  }

  &__icon {
    width: 40%;
  }

  &--about {
    &:before {
      left: -15px;
      top: -15px;
      width: calc(100% + 30px);
      height: calc(100% + 30px);
    }

    &:after {
      left: -7px;
      top: -7px;
      width: calc(100% + 14px);
      height: calc(100% + 14px);
    }
  }

  &--for-who {
    &:before {
      left: -10px;
      top: -10px;
      width: calc(100% + 20px);
      height: calc(100% + 20px);
    }

    &:after {
      left: -5px;
      top: -5px;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
    }
  }
}