// About
.about {
  // Flowers
  &__flower {
    &-1 {
      width: 90px;
      bottom: -90px;
    }

    &-2 {
      width: 80px;
      top: -70px;
    }

    &-3 {
      top: 134px;
      right: auto;
      left: 0;
      width: 90px;
    }

    &-4 {
      width: 110px;
      bottom: -40px;
      right: -63px;
    }
  }
  // End flowers
}
// End about

// Item
.about-item {
  &__in {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
  }

  &__content {
    margin-left: 0;
    margin-top: 20px;
    flex-basis: 100%;
  }
}
// End item