.free-consultation {
  padding: 100px 0;

  &__in, &__bg {
    border-radius: 0 $inputsRadius;
  }

  &__in {
    padding: 75px;
    position: relative;
    background: $white;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: relative;
    margin: auto;
    max-width: 875px;
  }

  &__form {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input {
    flex-basis: 290px;
  }

  &__action {
    margin-top: 50px;
    display: flex;
    align-items: center;

    &-text {
      font-weight: 500;
      font-size: 19px;
      font-family: $RubikFont;
    }

    &-count {
      font-family: $RubikFont;
      padding: 15px;
      border-radius: 0 15px;
      color: $white;
      font-weight: 500;
      font-size: 35px;
      margin: 0 10px;
    }
  }
}