.free-consultation {
  padding: 100px 0;

  &__in, &__bg {
    border-radius: 0 $inputsRadius;
  }

  &__in {
    padding: 75px;
    position: relative;
    background: $white;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: relative;
    margin: auto;
    max-width: 875px;
  }

  &__form {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input {
    flex-basis: 290px;
  }

  //
}