// Header
.header {
  // Navbar
  &__logo {
    height: 50px;
  }

  &__navigation {
    display: none;
  }

  &__hamburger {
    display: block;
  }

  &__navbar-container {
    height: 60px;
  }
  // End navbar


  &__content {
    padding-top: 80px;
    min-height: calc(100vh - 143px);
  }

  &__content-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "heading"
      "teacher"
      "head-form";
  }

  &__heading, &__teacher, &__form {
    justify-self: center;
  }

  &__heading {
    max-width: 500px;
  }

  &__teacher {
    margin-top: 20px;
    margin-left: 15px;
  }

  &__form {
    margin: 35px 0;
  }

  &__button {
    width: 100%;
  }
}
// End header

// Navigation
.navigation {
  &__list {
    &--mobile-nav {
      flex-direction: column;
      padding-left: 0;
    }
  }

  &__item {
    &--mobile-nav {
      margin: 10px 0;

      &:before {
        display: none;
      }
    }
  }

  &__link {
    &--mobile-nav {
      font-size: 27px;
      color: $dark;
    }
  }
}
// End navigation