.header {
  position: relative;
  overflow: hidden;

  // Flowers
  &__flower {
    &-1 {
      left: 38px;
      top: 76px;
    }

    &-2 {
      bottom: 16px;
      left: 19px;
    }

    &-3 {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &-4 {
      top: 10px;
      right: 11px;
    }

    &-5 {
      right: 31px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-6 {
      bottom: 7px;
      right: 0px;
    }
  }

  // Navbar
  &__navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: z('navbar');
  }

  &__navbar-container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 80px;
  }
  // End navbar

  // Content
  &__content-container {
    display: grid;
    grid-template-columns: 575px calc(100% - 575px);
    grid-template-areas:
      "heading teacher"
      "head-form teacher";
  }

  &__content {
    position: relative;
    z-index: z('content');
    padding: 100px 0 50px;
    min-height: calc(100vh - 163px);
  }

  &__heading {
    grid-area: heading;
    align-self: end;
    padding-bottom: 25px;
  }

  &__set-until {
    padding: 8px 25px;
    border-radius: 0 20px;
    color: $white;
    justify-self: flex-start;
    font-weight: 500;
    font-family: $RubikFont;
    display: inline-block;

    span {
      &:first-child {
        font-size: 16px;
      }

      &:last-child {
        font-size: 20px;
        margin-left: 2px;
      }
    }
  }

  &__up-title {
    margin-top: 25px;
  }

  &__title {
    margin-top: 14px;
  }

  &__subtitle {
    margin-top: 30px;
    width: 465px;
    margin-top: 25px  }

  &__form {
    grid-area: head-form;
    justify-self: start;
    align-self: start;
    padding-top: 25px;
    width: 460px;
  }

  &__input {
    margin-top: 15px;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }

  &__button {
    margin-top: 40px;
  }

  &__teacher {
    grid-area: teacher;
    justify-self: end;
    width: 460px;
  }
  // End content
  
  &__scroll {
    position: relative;
  }

  &__hamburger {
    display: none;
  }
}

// Logo
.logo {
  display: block;
  height: 100%;

  &__img {
    height: 100%;
  }
}
// End logo

// Navigation
.navigation {
  &__list {
    display: flex;
  }

  &__item {
    margin: 0 12px;
    position: relative;

    &:before {
      @include pseudo;
      left: -14px;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      opacity: .4;
    }

    &:first-child {
      margin-left: 0;

      &:before {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include cubic-first;
    display: block;
    font-family: $RubikFont;
    text-decoration: none;
    color: $navColor;
    font-weight: 500;
  }
}
// End navigation

// Hamburger menu
.hamburger {
  position: relative;
  width: 30px;
  height: 16px;
  padding: 5px 0;

  &__lines {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__check {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: z('content');
    cursor: pointer;

    &:checked {
      + .hamburger__lines {
        .hamburger__line--first {
          transform: translateY(7px) rotate(45deg) ;
          transform-origin: 50%;
        }

        .hamburger__line--second {
          transform: rotate(-45deg);
          transform-origin: 50%;
        }

        .hamburger__line--third {
          //transform: translateX(10px);
          opacity: 0;
        }
      }
    }
  }

  &__line {
    transition: .3s ease-in-out;
    height: 2px;
    position: absolute;

    &--first, &--second {
      width: 100%;
    }

    &--first {
      top: 0;
      left: 0;
    }

    &--second {
      top: calc(50% - 1px);
    }

    &--third {
      top: calc(100% - 2px);
      left: 50%;
      width: 50%;
    }
  }
}
// End hamburger menu

// Mobile menu
.mobile-menu {
  @include cubic-first;
  position: fixed;
  left: 0;
  top: 60px;
  height: calc(100vh - 60px);
  width: 100%;
  background: $white;
  z-index: z('modals');
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);

  &--active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    margin-bottom: 50px;
  }
}
// End mobile menu