@import "container/container";
@import "header/header";
@import "card/card";
@import "scroll/scroll";

// Media
@media screen and (max-width: 1199px) {
  .head-title {
    font-size: 36px;
    line-height: 42px;
  }

  @import "container/container-max-1199";
  @import "header/header-max-1199";
}

@media screen and (max-width: 991px) {
  @import "container/container-max-991";
  @import "header/header-max-991";
  @import "scroll/scroll-to-991";
}

@media screen and (max-width: 767px) {
  @import "container/container-max-767";
}

@media screen and (max-width: 575px) {
  // Heading
  .up-title {
    font-size: 18px;
    line-height: 24px;
  }

  .head-title {
    font-size: 25px;
    line-height: 32px;
  }
  // End heading

  // Inputs
  .input-group {
    &__input {
      padding: 16px 25px;
      font-size: 15px;

      @include placeholder {
        font-size: 15px;
      }
    }

    &__label {
      left: 25px;
    }
  }
  // End inputs

  // Buttons
  .button {
    &__content {
      font-size: 16px;
      padding: 16px 22px;
    }
  }
  // End buttons

  @import "container/container-max-575";
  @import "header/header-max-575";
  @import "card/card-max-575";
}
// End media